Kimchi Fried Rice Recipe css

.recipe{
	margin-top: 2em;
	margin-right: auto;
	margin-bottom: 2em;
	margin-left: auto;
	width: 80%;
	max-width: 1200px;
	padding: 2em;
	border: 1em solid #b22222;
}

body{
	font-family: 'Slabo 27px', serif; /*designer: john hudson*/
	font-size: 21px;
	line-height: 1em;
	letter-spacing: 1.3px;
	color: #ffffff;
	margin-top: 2em;
	margin-right: auto;
	margin-bottom: 2em;
	margin-left: auto;
	width: 80%;
	max-width: 1200px;
	padding: 2em;
	border: 1em solid #b22222;
	background-color: #ff7f50;
}

h1{
	letter-spacing: 2px;
}

p{
	line-height: 2px;
}

h3{
	line-height: 0.2px;
	margin-top: 1.5em;
}

img {
	border: 0.7em solid #b22222;
}

---------/*end css*/-----------